<div>
  <body>
  <header>
    <h2>Welcome to Grub's Up </h2>
  </header>
 
  <p>Cooking one dish is easy, but cooking multiple dishes is tricky.</p>

  <section>

    <article>
      <h1>Timing</h1>
      <p>Different type's of food take different amounts of time to cook. Some require to rest afterwords, so getting the timing perfect and know when to put food on and take it out of the oven s tricky.</p>
      <p>Grub's up takes all the difficult work out of timing, and will even help suggest the protions sizes to use. Simple select how many people you are cooking for and the food you want to cook. All the timings will be worked out for you so everything is ready to serve at once.</p>
    </article>
  </section>

  <footer>
    <p class="bottomright">Fuller Productions ©</p>
  </footer>

  </body>
</div>
