<h1>Orders up Chief!</h1>
<h1>You are cooking for {{mainData.numberOfPortions}} people.</h1>
<h1>Time remaining: {{testCurrentTime}} secs</h1>
<div *ngFor="let item of mainData.foods2 ">
    <mat-card *ngIf="item.isSelected">
      <mat-card-header>

        <mat-card-title>
          <b>  {{item.name}} </b>  <br />
          Start Cooking in: {{item.waitTime}} secs <br />
          Time remaining: {{item.cookingTime}} secs <br />
          <mat-icon *ngIf="item.cookingTime == 0">done</mat-icon>
          <mat-icon *ngIf="item.waitTime !=0">pan_tool</mat-icon>
          <mat-icon *ngIf="item.waitTime ==0 && item.cookingTime != 0 ">watch_later</mat-icon>
        </mat-card-title>
      </mat-card-header>
    </mat-card>
</div>
<div>
  <button mat-icon-button (click)="cook() "><b>Start Timer</b></button>
</div>
