

<div class="grid-container">
  <h1 class="mat-h1">Pick your food</h1>

  <mat-form-field  class="peopleform" style="font-weight: bold" >
    <mat-icon class="peopleicon">people</mat-icon>
    <input class="peopleinput" matInput type="number"    [(ngModel)]="people"
           name="People" >
  
  </mat-form-field>

  <section>
    <nav>
      <mat-list>
        <mat-list-item *ngFor="let food of foods | async">
          <button mat-icon-button (click)="showInfo(food)" class="list-button">
            {{ food.name }}
          </button>
        </mat-list-item>
      </mat-list>
    </nav>

    <article>
      <mat-card>
        <img class="card-image" mat-card-image src={{selectedFood.image}} >

        <mat-card-header>
          <mat-checkbox
            [checked]="selectedFood.isSelected" 
            (change)="valueChange(food,$event)">
            Cook me!</mat-checkbox>
          <mat-card-title>
            {{selectedFood.name}}
          </mat-card-title>
          <mat-card-subtitle>{{selectedFood.description}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <mat-card-subtitle>Category: {{selectedFood.category}}</mat-card-subtitle>
          <mat-card-subtitle>Cooking Methods</mat-card-subtitle>
          <mat-list>
            <a mat-list-item *ngFor="let cookingMethod of selectedFood.cookingMethods"> {{ cookingMethod }} </a>
          </mat-list>
          <p align="left">
            Portion size: {{selectedFood.portionSize}}g <br/>
            <b>CookingTime .. TODo</b> <br/>
            CookingTime .. TODo <br/>
            CookingTime .. TODo <br/>
            CookingTime .. TODo <br/>
          </p>

        </mat-card-content>
      </mat-card>

    </article>
  </section>


</div>
<div>
  <button mat-icon-button (click)="cook()"><b>Start Cooking!</b></button>
</div>
