<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>


  <section>
    <nav>
      <mat-list>
        <mat-list-item *ngFor="let food of foods |async">
          <!--<a matLine ></a>-->
          <button mat-icon-button (click)="showInfo(food)">
            {{ food.name }}
          </button>
        </mat-list-item>
      </mat-list>
    </nav>

    <article>
      <mat-grid-list cols="4" rowHeight="500px">
        <mat-grid-tile *ngFor="let food of foods | async" [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-icon>alarm</mat-icon>
              <!--<div mat-card-avatar src="{{food.image}}"></div>-->
              <!--<div  mat-card-avatar class="example-header-image"></div>-->
              <mat-card-title>
                {{food.name}}
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item>Expand</button>
                  <button mat-menu-item>Remove</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
              <mat-card-subtitle>Category: {{food.category}}</mat-card-subtitle>
              <mat-card-subtitle>Cooking Methods</mat-card-subtitle>
              <mat-list>
                <a mat-list-item *ngFor="let cookingMethod of food.cookingMethods"> {{ cookingMethod }} </a>
              </mat-list>
              <p align="left">
                Portion size: {{food.portionSize}}g
              </p>
              <p align="left">
                CookingTime .. TODO
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </article>
  </section>


</div>
