

<div class="grid-container">
  <h1 class="mat-h1">Pick your food</h1>

  <mat-form-field  class="peopleform" style="font-weight: bold" >
    <mat-icon class="peopleicon">people</mat-icon>
    <input class="peopleinput" matInput type="number"    [(ngModel)]="people"
           name="People" >
  
  </mat-form-field>

  <section>
    <nav>
      <mat-list>
        <mat-list-item *ngFor="let food of mainData.foods | async">
          <button mat-icon-button (click)="showInfo(food)" class="list-button">
            {{ food.name }}
          </button>
        </mat-list-item>
      </mat-list>
    </nav>

    <article>
      <mat-card>
        <img class="card-image" mat-card-image src={{selectedFood.image}} >

        <mat-card-header>
         
          <mat-card-title>
            {{mainData.selectedFood.name}}
          </mat-card-title>
          <mat-card-subtitle>{{mainData.selectedFood.description}}</mat-card-subtitle>
          <mat-card-subtitle>
            <mat-checkbox align="left"
                          [checked]="mainData.selectedFood.isSelected" 
                          (change)="valueChange(food,$event)">
              Cook me!</mat-checkbox> <br/>
            Recommended Portion size: {{mainData.selectedFood.portionSize}}g <br/>
          </mat-card-subtitle>
        </mat-card-header>

      </mat-card>

    </article>
  </section>


</div>
<div>
  <button mat-icon-button (click)="cook()"><b>Start Cooking!</b></button>
</div>
