h1 {
    font-size: 300%;
    color: #34495e;
}

.output {
  font: 1rem 'Fira Sans', sans-serif;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.username {
  margin: 1rem 0;
}

label {
  font-size: .8rem;
}

input:invalid + span:after {
  content: '✖';
  color: #f00;
  padding-left: 5px;
}

input:valid + span:after {
  content: '✓';
  color: #26b72b;
  padding-left: 5px;
}


.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 15%;
  height: 100%;

  padding: 20px;
}

.list-button {
  color: #000000;
  font-weight: bold;
}


article {
  float: left;
  padding: 20px;
  width: 85%;
  background-color: #f1f1f1;

}
